.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
}

/* font-family: Noto Serif, Times New Roman, sans-serif;*/

.header {
  background-color: #ffffff;
  background-image: url(../images/background_header.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.nav-header__logo {
  width: 105px;
  height: 39px;
  position: relative;
  top: 30px;
  left: 30px;
}

.nav-header__links {
  display: flex;
  column-gap: 20px;
  list-style-type: none;
  padding: 0;
  margin: 30px 80px 0 0;
}

.nav-header__link {
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 500;
}

.nav-header__anchor {
  text-decoration: none;
  color: #000000;
}

.header__title {
  max-width: 709px;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -1px;
  margin: 183px 0 0 80px;
  z-index: 1;
}

.header__span-accent {
  display: block;
  color: #2f80ed;
  font-style: italic;
  font-family: Noto Serif, Times New Roman, sans-serif;
}

.header__description {
  max-width: 683px;
  font-family: Noto Serif, Times New Roman, sans-serif;
  font-size: 20px;
  line-height: 30px;
  margin: 28px 0 0 80px;
  z-index: 1;
}

.header__image {
  width: 646px;
  height: 568px;
  position: absolute;
  top: 124px;
  right: 5px;
}

.header__footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: auto 80px 40px;
}

.header__schedule {
}

.header__paragraph {
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 500;
  color: #838383;
  margin: 0;
  align-self: end;
  z-index: 1;
}

.recipes {
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.recipes__title {
  margin: 0;
  padding: 100px 0 0 80px;
  max-width: 580px;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #ffffff;
}

.recipes__subtitle {
  margin: 24px 0 0 80px;
  max-width: 438px;
  font-family: Noto Serif, Times New Roman, sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  font-weight: normal;
}

.recipes__videos {
  margin-top: 28px;
  margin-bottom: 215px;
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: row;
  column-gap: 40px;
}

.recipes__video-item {
}

.recipes__iframe {
  width: 480px;
  height: 273px;
  border: 0;
}

.recipes__div-caption {
  display: flex;
  justify-content: space-between;
}

.recipes__video-caption {
  margin: 24px 0 0 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}
